<nav>
  <ul>
    <li><a href="/">Home</a></li>
    {{#if logged_in}}
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    {{else}}
      <li><a href="/auth/signup">Sign Up</a></li>
      <li><a href="/auth/login">Login</a></li>
    {{/if}}
  </ul>
</nav>
